<div class="table-container">
    <h1>Objave <button mat-button class="logout-button" (click)="logout()">Logout</button></h1>
    <div class="tags-filter">
        <div>Tags filter:</div>
        <ng-select [(ngModel)]="selectedTag" class="tags-select">
            @for (tag of tags; track tag.id) {
            <ng-option [value]="tag.id">{{tag.name}}</ng-option>
            }
        </ng-select>
    </div>
    <table mat-table [dataSource]="posts()" class="mat-elevation-z8 table-objave">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Body Column -->
        <ng-container matColumnDef="body">
            <th mat-header-cell *matHeaderCellDef> Body </th>
            <td mat-cell *matCellDef="let element"> {{element.body}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td mat-cell *matCellDef="let element"> {{element.tags.join(', ')}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [class.row-mark]="row.tags.includes(selectedTagValue())" (click)="openPostDetails(row)"></tr>
    </table>
    <mat-paginator [length]="total()" [pageSize]="limit()" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
</div>