.table-container {
    width: 70%;
    margin: 0 auto;
}

.logout-button {
    margin-left: 30px;
}

.tags-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.table-objave {
    width: 100%;
}

.tags-select {
    width: 40%;
}

.row-mark {
    background-color: red;
}