.login-card {
    width: 300px;
    height: 300px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.login-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}